[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendor/Catch2"]
	path = Vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "Vendor/json"]
	path = Vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "Vendor/entt"]
	path = Vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Vendor/ImTerm"]
	path = Vendor/ImTerm
	url = https://github.com/Organic-Code/ImTerm
[submodule "Vendor/ImGuizmo"]
	path = Vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
