# Set default behaviour
* text=auto

# Force default line-endings for core files to CRLF
*.sln text eol=crlf
*.c text eol=crlf
*.cpp text eol=crlf
*.h text eol=crlf
*.hpp text eol=crlf

# Remove glad as a vendored path
Vendor/glad/** linguist-vendored

# Remove stb_image as a vendored path
Vendor/stb_image/** linguist-vendored

# Remove SDL as a vendored path
Vendor/SDL/** linguist-vendored

# Remove assimp as a vendored path
Vendor/assimp/** linguist-vendored

# Remove mono as a vendored path
Vendor/mono/** linguist-vendored